## Winter Analysis Data Challenge :OO
### Import

In [2]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon
from geoalchemy2 import Geometry, WKTElement
import matplotlib.pyplot as plt
from sqlalchemy import text

### Setting up Datasets

In [42]:
# Station Entries
stationEntries = pd.read_csv('TrainStationEntriesExits/train-station-entries-exits-data-may-2025.csv')
# Station Entrance
stationEntrances = pd.read_csv('TrainStationEntranceLocations/stationentrances2020_v4.csv')
# Opal Patronage
opal = pd.read_csv('OpalPatronage/Opal_Patronage_20200101.txt', sep='|')

In [48]:
stationEntrances.head()

,Train_Station,Street_Name,Street_Type,Entrance_Type,LAT,LONG,Exit_Number
0,Aberdeen,Macqueen,St,Ramp,-32.166886,150.891957,NaN
1,Aberdeen,Macqueen,St,Stairs,-32.166900,150.891975,NaN
2,Adamstown,Park,Ave,Path,-32.933706,151.720452,NaN
3,Adamstown,Park,Ave,Path,-32.933827,151.720236,NaN
4,Adamstown,St James,Rd,Stairs,-32.933414,151.720363,NaN